/* TÍTULO DA GARAGEM */
.titulo-garagem {
    text-align: center;
    color: var(--roxo);
    font-size: 2.3em;
    margin-top: 25px;
    text-shadow: 0 0 10px var(--vermelho);
}

/* Descrição */
.descricao-garagem {
    text-align: center;
    max-width: 700px;
    margin: 10px auto 25px;
    color: var(--branco);
    opacity: .8;
    font-size: 1.1em;
}

/* GRID */
.garagem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

/* CARD */
.garagem-card {
    background: var(--cinza-escuro);
    border: 3px solid var(--roxo);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px var(--roxo);
    transition: transform .3s, box-shadow .3s, border-color .3s;
}

.garagem-card:hover {
    transform: scale(1.08);
    border-color: var(--vermelho);
    box-shadow: 0 0 20px var(--vermelho);
}

.garagem-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.garagem-card h3 {
    color: var(--vermelho);
    font-size: 1.4em;
    margin-bottom: 8px;
    text-shadow: 0 0 8px var(--roxo);
}

.garagem-card p {
    color: var(--branco);
    opacity: .85;
    font-size: 1em;
}
