body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Preto */
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #ff0000, #800080);
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc00; /* Cor de destaque */
}

main {
    padding: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria .item {
    flex: 1 1 calc(33% - 20px);
    text-align: center;
}

.galeria img {
    width: 100%;
    max-width: 250px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
}
